body {
    font: 18px Roboto, sans-serif;
}
h1 {
    text-align: center;
}
ul {
    list-style-type: none; /* xóa bỏ ký hiệu bullet mặc định*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
    margin-right: 30px;
}

ul li {
    display: inline;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #111;
}
.first{
    display: flex;
    justify-content: center; 
    margin: 20px 0; 
}
.second{
    display: flex;
    justify-content: center; 
    gap: 70px;
}
img {
    max-width: 400px; 
    height: auto; 
    border-radius: 8px; 
    margin-bottom: 10px;
} 
p {
    margin: 0;
    max-width: 400px; 
    text-align: justify; 
    line-height: 1.5; 
}

.iconlist{
    display: flex;
    gap: 30px;
}
.fb{
    text-align: center;
}
form {
    width: 300px;
    margin: 0 auto; 
    text-align: left;
}
.third{
    margin: 0 auto;
    text-align: center;
}
footer {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

