body{
    font-family: 'Figtree', sans-serif;
}
a {
    text-decoration: none; 
    color: #FFFFFF; 
}
*{
    border: 1px solid black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-padding{
    background-color: #25C9D0;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form {
display: flex;
flex-direction: column;
border-radius: 14px;
padding: 40px;
background-color: #e3f6f8;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
max-width: 500px;
width: 100%;
}   
button {
padding: 12px 20px;
background-color: #25C9D0;
color: white;
border: none;
border-radius: 8px;
font-size: 16px;
font-weight: bold;
transition: background-color 0.3s ease; 
}
.fa-angle-up{
    font-size: 100px;
    margin-right:1px;
}
/* drop-down */
a.content-in-dropbox{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    height: 50px;
    box-shadow: 0px 2px 2px 0px #d9d5d5;
}
#arrow-dropdown{
    font-size: 14px;
}
.header-list-items{
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    width: 200px;
    justify-content: center;
    box-shadow: 0px 8px 16px 0px #383737;
    z-index: 1;
    border-radius: 14px;
}
.dropdown-content a:hover{
    background-color: #e3f6f8;
    color: #25C9D0;
    border-radius: 14px;
    transition: 0.3s;
}
.header-list-items:hover .dropdown-content{
    display: block;
    transition-duration: 1s;
}

.header-list-items:hover .dropdown {
    background-color: #e3f6f8;
    color: #25C9D0;
    transition: background-color 1.2s ease-in-out color 1.2s ease-in-out transform 0.7s ease-in-out;

}
.dropdown:hover .arrow-dropdown {
    background-color: #e3f6f8;
    color: #25C9D0;
    transition: transform 0.35s ease-in-out;
    transform: rotate(180deg);
}
.section-field-container{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.log-in-and-sign-up button{
    box-shadow: 0px 2px 2px 0px #d9d5d5;
    border-radius: 14px;

}
.log-in-and-sign-up button:hover{
    background-color: white;
    color: #25C9D0;
    transition: 0.3s;
}
#icon-search{
    font-size: 20px;
    display: inline-block;
}
button:hover{
    background-color: white;
    color: #25C9D0;
    transition: 0.3s;
}
main{
    display: flex; 
    justify-content: center; 
    padding: 0px 24px 80px ; 
    width: 100%;
}
.policies-accept{
    font-size: 10px; 
    color: gray; 
    padding-bottom:20px; 
    max-width: 50;
}